sudo:     true

notifications:
  email:  false

language: java
addons:
  apt_packages:
    - php5
    - php5-simplexml

matrix:
  include:
    - jdk: oraclejdk8
      env: IDE_ID=2017.1
    - jdk: oraclejdk8
      env: IDE_ID=2016.3
    - jdk: oraclejdk8
      env: IDE_ID=2016.2
    - jdk: oraclejdk8
      env: IDE_ID=eap
  allow_failures:
    - env: IDE_ID=eap

script: ".travis/build.sh"

cache:
  directories:
    - .travis/.cache

before_script:
 - chmod +x .travis/build.sh
